:root {
  /* Colors */
  --primary-text-color: #1d1d1d;
  --second-text-color: #ffffff;
  --accent-color: #1894c1;
  --hover-accent-color: #1894c1;
  --white-color: #ffffff;
  --error-color: #d10026;
  --body-bg: #ffffff;
  --input-bg: #ffffff;
  --footer-bg: #1894c1;
  --scrollbar-thumb-bg: #292929;
  --scrollbar-track-bg: #ffffff;
  --text-color-select: #a8a8a8;

  /* Breakpoints */
  --mobile: 375px;
  --mobile-max: 833.98px;
  --tablet: 834px;
  --table-max: 1439.98px;
  --desktop: 1440px;

  /* Transition properties */
  --transition-time: 250ms;
  --transition-effect: cubic-bezier(0.4, 0, 0.2, 1);

  /* Backdrop */
  --background-color: rgba(0, 0, 0, 0.6);

  /* Backdrop */
  --primary-font-family: "Montserrat", sans-serif;

  /* Height-constants */
  --header-height-small: 80px;
  --header-height-medium: 90px;
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

body.is-hidden {
  overflow: hidden;
}

span {
  z-index: 1;
}

body {
  color: var(--primary-text-color);
  font-family: var(--primary-font-family);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2%;
  line-height: 1.25;
  background-color: var(--body-bg);
  overflow-x: hidden;
  font-synthesis: none;

  @media (834px<=width) {
    font-size: 16px;
  }

  @media (1440px<=width) {
    font-size: 32px;
  }
}

body.is-hidden {
  @media (1440px<=width) {
    overflow-y: scroll;
  }
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0px;
}

body::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-bg);
  border-radius: 20px;
}

body::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-bg);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section {
  overflow: hidden;
  padding: 80px 0 0;

  @media (834px<=width) {
    padding: 80px 0 0;
  }

  @media (1440px<=width) {
    padding: 120px 0 0;
  }
}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0 24px;

  @media (360px<=width) {
    max-width: var(--mobile);
  }

  @media (834px<=width) {
    max-width: var(--tablet);
    padding: 0 32px;
  }

  @media (1440px<=width) {
    max-width: var(--desktop);
    padding: 0 119px;
  }
}

.section-title {
  margin-bottom: 40px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--accent-color);

  @media (834px<=width) {
    font-size: 36px;
  }

  @media (1440px<=width) {
    font-size: 48px;
    margin-bottom: 80px;
  }
}

.second-title {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.375;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--accent-color);

  @media (834px<=width) {
    font-size: 28px;
  }

  @media (1440px<=width) {
    font-size: 36px;
    margin-bottom: 40px;
  }
}

.header-hero {
  background-image: url("./img/header-hero-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0 0 8px 8px;

  @media (834px<=width) {
    padding: 16px;
    background-image: url("./img/header-hero-background-tab.jpg");
  }

  @media (1440px<=width) {
    background-image: url("./img/header-hero-background-desk.jpg");
    padding: 40px 24px;
  }
}

.swiper {
  width: 100%;
  display: flex;
  justify-content: center;

  overflow: visible;
}

.swiper-pagination {
  margin-top: 60px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.custom-swiper .swiper-button-next,
.custom-swiper .swiper-button-prev {
  /* Додаємо це */
  position: absolute;
  width: 32px;
  height: 32px;
  color: #1894c1;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99999; /* Встановлюємо дуже високий пріоритет */
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}

.custom-swiper .swiper-button-prev {
  z-index: 99999;
  left: -10px;
}

.custom-swiper .swiper-button-next {
  z-index: 99999;
  right: -10px;
}

.custom-swiper .swiper-button-next::after,
.custom-swiper .swiper-button-prev::after {
  font-size: 20px;
  color: #1894c1;
  @media screen and (min-width: 834px) {
    font-size: 27px;
  }
}

.swiper-one .swiper-pagination-bullet,
.swiper-two .swiper-pagination-bullet,
.swiper-three .swiper-pagination-bullet,
.swiper-four .swiper-pagination-bullet,
.swiper-five .swiper-pagination-bullet,
.swiper-six .swiper-pagination-bullet {
  background-color: #1894c1;
  width: 12px;
  height: 8px;
  border-radius: 8px;
  @media screen and (min-width: 834px) {
    width: 16px;
    height: 16px;
  }
}

.hide-swiper-nav .swiper-button-next,
.hide-swiper-nav .swiper-button-prev,
.hide-swiper-nav .swiper-pagination {
  display: none !important;
}
/* Header section */

.logo-header {
  object-fit: cover;
  width: 70px;
  height: 48px;
  @media screen and (min-width: 834px) {
    width: 82px;
    height: 38px;
    margin: 10px 0;
  }
  @media screen and (min-width: 1440px) {
    object-fit: contain;
    width: 158px;
    height: 64px;
  }
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (min-width: 834px) {
  }
}

.header {
  background-color: #ffffffe5;
  padding: 16px 24px;
  @media screen and (min-width: 834px) {
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.85); /* напівпрозорий білий */
    border-radius: 8px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  }
  @media screen and (min-width: 1440px) {
    padding: 6px 8px;
  }
}

.header-menu {
  max-width: 32px;
  max-height: 32px;
  fill: var(--accent-color);
}

.menu-button {
  border: 1px transparent;
  background: transparent;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 834px) {
    display: none;
  }
}

.menu-nav-header {
  display: none;
  @media screen and (min-width: 834px) {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 24px;
    margin-right: 14px;
  }
  @media screen and (min-width: 1440px) {
    margin-right: 50px;
    gap: 70px;
  }
}

.menu-item-header {
  @media screen and (min-width: 1440px) {
    display: flex;
    text-align: center;
  }
}

.menu-link-header {
  @media screen and (min-width: 834px) {
    font-size: 14px;
    font-weight: 700;
    color: var(--accent-color);
    padding: 0 6px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 20px;
  }
}

/* Hero section */
.hero-container {
  @media screen and (min-width: 834px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    padding: 0 16px;
  }
  @media screen and (min-width: 1440px) {
    padding: 0 8px;
  }
}
.hero-info {
  margin-top: 160px;
  color: var(--second-text-color);
  font-size: 12px;
  font-weight: 700;
  line-height: 1.6;
  margin-bottom: 8px;
  @media screen and (min-width: 834px) {
    margin-top: 230px;
    margin-bottom: 64px;
  }
  @media screen and (min-width: 1440px) {
    margin-top: 293px;
    margin-bottom: 82px;
  }
}

.hero-title {
  font-size: 12px;
  font-weight: 700;
  @media screen and (min-width: 834px) {
    font-size: 16px;
    font-weight: 400;
  }
  @media screen and (min-width: 1440px) {
    font-size: 20px;
    font-weight: 700;
  }
}
.hero-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.4;

  @media screen and (min-width: 834px) {
    font-size: 16px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 20px;
    margin-top: 8px;
    line-height: 1.1;
  }
}
.hero-mail {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
  margin-top: 8px;
  @media screen and (min-width: 834px) {
    font-size: 16px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 20px;
    margin-top: 12px;
  }
}
.hero-social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 22px;
  margin-top: 8px;
  @media screen and (min-width: 834px) {
    margin-top: 28px;
    gap: 35px;
  }
  @media screen and (min-width: 1440px) {
    margin-top: 16px;
  }
}

.social-img {
  @media screen and (min-width: 834px) {
    width: 32px;
    height: 32px;
  }
  @media screen and (min-width: 1440px) {
    width: 48px;
    height: 48px;
  }
}

.hero-button {
  color: var(--second-text-color);
  background-color: var(--accent-color);
  font-size: 16px;
  font-weight: 600;
  padding: 16px 65px;
  border-radius: 80px;
  border: none;
  margin-bottom: 32px;
  @media screen and (min-width: 834px) {
    padding: 24px 37px;
    margin-bottom: 64px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 24px;
    padding: 25px 60px;
    margin-bottom: 82px;
  }
}

.hero-button:hover,
.hero-button:active,
.hero-button:focus {
  color: var(--accent-color);
  background-color: var(--second-text-color);
}

/* About section */

.about-lists {
  margin-top: 8px;
  display: flex;
  gap: 23px;
  @media screen and (min-width: 834px) {
    margin-top: 16px;
  }
  @media screen and (min-width: 1440px) {
    margin-top: 32px;
  }
}

.about-list {
  font-size: 12px;
  list-style-type: disc;
  padding-left: 8px;
  max-width: 148px;
  @media screen and (min-width: 834px) {
    font-size: 16px;
    max-width: 357px;
    padding-left: 16px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 32px;
    max-width: 587px;
    padding-left: 26px;
  }
}

.about-list li {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 3px;
  @media screen and (min-width: 834px) {
    gap: 8px;
    margin-bottom: 8px;
  }
  @media screen and (min-width: 1440px) {
    gap: 32px;
    margin-bottom: 32px;
  }
}

.about-list .bullet {
  width: 8px;
  height: 8px;
  background-color: var(--accent-color);
  border-radius: 50%;
  margin-right: 3px;
  flex-shrink: 0;
  @media screen and (min-width: 834px) {
    width: 16px;
    height: 16px;
  }
  @media screen and (min-width: 1440px) {
    width: 19px;
    height: 19px;
  }
}

/* Certification section */

.section-certification {
  padding-top: 12px;
  @media screen and (min-width: 1440px) {
    padding-top: 38px;
  }
}

.certification-container {
  padding: 0 32px;
  @media screen and (min-width: 834px) {
    padding: 0 62px;
  }
}
.certification-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  border-radius: 8px;

  padding: 8px 0;
  text-align: center;
  overflow: hidden;
  max-width: 257px;
  margin: 0 auto;
  @media (min-width: 834px) {
    max-width: 274px;
    margin-bottom: 16px;
  }
  @media (min-width: 1440px) {
    max-width: 332px;
  }
}
.certification-img {
  width: 257px;
  height: 257px;

  object-fit: cover;
  @media (min-width: 834px) {
    width: 274px;
    height: 302px;
    object-fit: none;
  }
}

.certification-button {
  background-color: var(--accent-color);
  color: var(--second-text-color);
  cursor: pointer;
  border: 2px solid transparent;
  width: 257px;
  height: 47px;
  border-radius: 8px;

  font-weight: 600;
  line-height: 1.24;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
  transition: transform 250ms ease-in-out;
  @media (min-width: 834px) {
    width: 274px;
    height: 32px;
    margin-top: 16px;
    font-size: 12px;
  }
  @media (min-width: 1440px) {
    width: 332px;
    height: 69px;
    margin-top: 16px;
    font-size: 24px;
  }
}

.certification-button:hover,
.certification-button:active,
.certification-button:focus {
  color: var(--accent-color);
  background-color: var(--second-text-color);
  border: 2px solid var(--accent-color);
}

/* Advantages section */

.section-advantages {
  padding-top: 12px;
  @media screen and (min-width: 834px) {
    padding-top: 42px;
  }
}

.advantages-list {
  font-size: 12px;
  list-style-type: disc;
  margin-bottom: -12px;
  @media screen and (min-width: 834px) {
    font-size: 16px;
    letter-spacing: 0.1px;
    margin-left: 16px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 32px;
    margin-left: 24px;
    line-height: 1.23;
  }
}

.advantages-list li {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  @media screen and (min-width: 1440px) {
    gap: 32px;
    margin-bottom: 32px;
  }
}

.advantages-list .bullet {
  width: 8px;
  height: 8px;
  background-color: var(--accent-color);
  border-radius: 50%;
  margin-right: 3px;
  flex-shrink: 0;
  @media screen and (min-width: 834px) {
    margin-right: 12px;
    width: 16px;
    height: 16px;
  }
  @media screen and (min-width: 1440px) {
    width: 19px;
    height: 19px;
  }
}
/* Services section */
.services-container {
  padding: 0 24px;

  @media screen and (min-width: 834px) {
    padding: 0 24px;
  }
}

.services-item {
  height: 390px;
  width: 257px;
  margin: 0 auto;
  @media screen and (min-width: 834px) {
    width: 393px;
    height: 476px;
  }
  @media screen and (min-width: 1440px) {
    width: 419px;
    height: 583px;
  }
}

.services-item-card {
  height: 390px;
  width: 257px;

  margin: 0 auto;
  margin-bottom: 16px;
  @media screen and (min-width: 834px) {
    width: 353px;
    height: 476px;
    background-color: #1995c233;
    border-radius: 8px;
    margin-bottom: 40px;
  }
  @media screen and (min-width: 1440px) {
    width: 419px;
    height: 563px;
    background-color: #1995c233;
    border-radius: 8px;
    margin-bottom: 64px;
  }
}

.services-info-card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding: 16px;
  height: 316px;
  width: 257px;
  background-color: #1995c233;
  border-radius: 8px;
  @media screen and (min-width: 834px) {
    width: 373px;
    height: 400px;
    padding: 32px;
    background-color: transparent;
  }
  @media screen and (min-width: 1440px) {
    width: 419px;
    height: 494px;
    padding: 32px;
    background-color: transparent;
  }
}

.services-info {
  display: flex;

  margin: 32px 32px;
}

.services-img {
  margin-bottom: 16px;
  @media screen and (min-width: 834px) {
    width: 64px;
    height: 64px;
    margin-bottom: 32px;
  }
  @media screen and (min-width: 1440px) {
    width: 80px;
    height: 80px;
  }
}
.services-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -0.01em;
  margin-bottom: 11px;
  @media screen and (min-width: 834px) {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 14px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 24px;
    line-height: 1.2;
  }
}
.services-text {
  line-height: 1.2;
  letter-spacing: -0.01em;
  @media screen and (min-width: 834px) {
    letter-spacing: 0.01em;
    line-height: 1.3;
  }

  @media screen and (min-width: 1440px) {
    font-size: 20px;
    margin-top: 27px;
    line-height: 1.2;
  }
}

.services-button {
  color: var(--second-text-color);
  background-color: var(--accent-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: -0.01em;
  padding: 14px 68px;
  border-radius: 80px;
  border: none;
  margin-top: 8px;
  transition: transform 0.3s ease;
  @media screen and (min-width: 834px) {
    padding: 8px 32px;
    margin-left: 32px;
    margin-bottom: 32px;
  }
  @media screen and (min-width: 1440px) {
    padding: 10px 32px;
  }
}

.services-button:hover,
.services-button:active,
.services-button:focus {
  transform: scale(1.1);
}

/* Projects section */
.project-container {
  padding: 0 27px;

  @media screen and (min-width: 834px) {
    padding: 0 32px;
  }
}

.projects-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 257px;
  margin: 0 auto;
  @media screen and (min-width: 834px) {
    width: 373px;
  }
  @media screen and (min-width: 1440px) {
  }
}
.project-card-desk {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 257px;

  margin: 0 auto;
  margin-bottom: 32px;
  @media screen and (min-width: 834px) {
    width: 754px;
    margin-bottom: 2px;
  }
  @media screen and (min-width: 1440px) {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 60px;
  }
}

.project-card {
  width: 100%;
  height: 257px;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  @media screen and (min-width: 834px) {
    width: 572px;
    height: 341px;
  }
  @media screen and (min-width: 1440px) {
    width: 593x;
    height: 698px;
  }
}

.project-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px 35px;
  margin: 0 16px 16px;
  border-radius: 8px;
  background-color: #fff;
  @media screen and (min-width: 834px) {
    padding: 16px;
  }
  @media screen and (min-width: 1440px) {
    padding: 16px 32px;
    margin: 0 32px 32px;
  }
}

.project-title {
  color: var(--accent-color);
  text-align: center;
  margin: 0;
  font-size: 8px;
  font-weight: 700;
  @media screen and (min-width: 834px) {
    font-size: 16px;
    text-align: left;
  }
  @media screen and (min-width: 1440px) {
    font-size: 24px;
    text-align: left;
  }
}

.project-btn {
  padding: 16px;
  background-color: var(--accent-color);
  color: var(--second-text-color);
  border: none;
  border-radius: 80px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: 0.01em;
  transition: background-color 0.3s;
  margin-top: 8px;
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: center;
  @media screen and (min-width: 834px) {
    display: none;
  }
}

.project-text-list {
  list-style-type: disc;
  padding: 16px;
  @media screen and (min-width: 1440px) {
    padding: 80px 43px;
    max-width: 770px;
  }
}

.project-text-list li {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  @media screen and (min-width: 1440px) {
    align-items: start;
    gap: 24px;
    margin-bottom: 32px;
  }
}

.project-text-list .bullet {
  @media screen and (min-width: 834px) {
    background-color: var(--accent-color);
    border-radius: 50%;

    flex-shrink: 0;
    margin-right: 16px;
    margin-bottom: 6px;
    width: 16px;
    height: 16px;
  }
  @media screen and (min-width: 1440px) {
    width: 19px;
    height: 19px;
    margin-top: 8px;
  }
}

.project-text {
  display: none;
  @media screen and (min-width: 834px) {
    display: flex;
  }
  @media screen and (min-width: 1440px) {
    max-width: 620px;
    line-height: 1.2;
  }
}

.modal-project-title {
  max-width: 214px;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 8px;
}

.modal-project-text li {
  font-size: 10px;
  font-weight: 400;

  display: flex;
  align-items: center;

  gap: 3px;
  margin-bottom: 13px;
  margin-left: 8px;
  max-width: 271px;
}
.modal-project-text .bullet {
  display: flex;

  background-color: var(--accent-color);
  border-radius: 50%;

  flex-shrink: 0;

  margin-bottom: 6px;
  width: 8px;
  height: 8px;
}

/* Choose-u section */

.choose-container {
  margin: 0 auto;
  padding: 0 32px;
  @media screen and (min-width: 834px) {
    padding: 0 32px;
  }
}
.choose-item {
  margin-bottom: 26px;
  margin: 0 auto;
  @media screen and (min-width: 834px) {
  }
}

.choose-info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 56px;
  padding: 34px 51px 16px;
  height: 257px;
  width: 257px;
  background-color: #1995c233;
  border-radius: 8px;
  margin: 0 auto;
  margin-bottom: 32px;
  @media screen and (min-width: 834px) {
    padding: 32px 16px 16px;
    gap: 30px;
    height: 205px;
    width: 175px;
  }
  @media screen and (min-width: 1440px) {
    padding: 32px 16px 38px;
    gap: 68px;
    height: 395px;
    width: 332px;
  }
}

.choose-img {
  margin-bottom: 16px;
  @media screen and (min-width: 834px) {
    width: 65px;
    height: 64px;
  }
  @media screen and (min-width: 1440px) {
    width: 158px;
    height: 158px;
  }
}

.choose-text {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;

  @media screen and (min-width: 834px) {
    width: 143px;
    height: 45px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 24px;
    width: 268px;
  }
}

/* Our-team section */
.team-container {
  padding: 0 37px;

  @media screen and (min-width: 834px) {
    padding: 0 71px;
  }
}
.team-item {
  height: 313px;
  width: 257px;
  margin-bottom: 28px;
  @media screen and (min-width: 834px) {
    width: 294px;
    height: 352px;
    margin-bottom: 44px;
  }
  @media screen and (min-width: 1440px) {
    width: 332px;
    height: 419px;
    margin-bottom: 62px;
  }
}
.team-info-card {
  border-radius: 8px;
  height: 313px;
  width: 257px;
  margin-bottom: 26px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  display: flex;
  align-items: end;
  @media screen and (min-width: 834px) {
    width: 274px;
    height: 352px;
  }
  @media screen and (min-width: 1440px) {
    width: 332px;
    height: 419px;
  }
}

.team-info-text {
  max-width: 225px;
  background-color: var(--body-bg);
  border-radius: 8px;
  padding: 9px 44px;
  margin: 0 auto;
  margin-bottom: 16px;
  @media screen and (min-width: 834px) {
    max-width: 242px;
    padding: 9px 33px;
  }
  @media screen and (min-width: 1440px) {
    max-width: 310px;
    padding: 10px 28px;
  }
}

.team-name {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--accent-color);
  font-weight: 700;
  @media screen and (min-width: 834px) {
    font-size: 16px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 24px;
  }
}
.team-position {
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--accent-color);
  @media screen and (min-width: 834px) {
    font-size: 16px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 20px;
  }
}

/* Partners section */
.partners-container {
  padding: 0 28px;

  @media screen and (min-width: 834px) {
    padding: 0 52px;
  }
}

.partners-item {
  height: 88px;
  width: 131px;

  margin-bottom: 16px;
  @media screen and (min-width: 834px) {
    width: 175px;
    height: 78px;
    margin-bottom: 28px;
  }
  @media screen and (min-width: 1440px) {
    width: 158px;
    height: 89px;
  }
}

.partners-info-card {
  height: 68px;
  width: 124px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  @media screen and (min-width: 834px) {
    width: 175px;
    height: 78px;
  }
  @media screen and (min-width: 1440px) {
    width: 158px;
    height: 89px;
  }
}

.partners-img {
  height: 68px;
  object-fit: contain;
  padding-bottom: 28px;
  @media screen and (min-width: 834px) {
    height: 78px;
  }
  @media screen and (min-width: 1440px) {
    height: 89px;
  }
}
/* FAQ section */

.faq-section {
  padding: 72px 0;
}

.faq-item {
  border: none;
}

.faq-question {
  width: 100%;
  height: 39px;
  padding: 8px;
  text-align: left;
  font-size: 8px;
  line-height: 1.1;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  gap: 26px;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-text-color);
  background-color: #1894c180;
  border: none;
  border-radius: 8px;
  @media screen and (min-width: 834px) {
    padding: 16px;
    height: 73px;
    font-size: 16px;
  }
  @media screen and (min-width: 1440px) {
    padding: 30px;
    height: 88px;
    font-size: 24px;
  }
}

.faq-icon {
  background-color: var(--body-bg);
  border-radius: 8px;
  padding: 8px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 834px) {
    padding: 12px 20px;
  }
  @media screen and (min-width: 1440px) {
    padding: 8px 16px;
  }
}
.faq-svg {
  width: 12px;
  height: 6px;

  transition: transform 0.3s ease;
  fill: var(--accent-color);
  @media screen and (min-width: 834px) {
    width: 27px;
    height: 16px;
  }
  @media screen and (min-width: 1440px) {
    width: 40px;
    height: 40px;
  }
}
.faq-item.active .faq-svg {
  transform: rotate(360deg);
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease, opacity 0.6s ease;
  font-size: 8px;

  border: none;
  border-radius: 8px;
  margin-bottom: 8px;
  @media screen and (min-width: 834px) {
    font-size: 16px;
  }
  @media screen and (min-width: 1440px) {
    margin-bottom: 16px;
    font-size: 20px;
  }
}

.answer-text,
.answer-list {
  border-radius: 8px;
  margin: 2px 0;
  padding: 8px 13px;
  background-color: #1995c233;
  @media screen and (min-width: 834px) {
    margin: 4px 0;
    padding: 16px 32px;
  }
  @media screen and (min-width: 1440px) {
    padding: 16px 87px;
  }
}

.faq-item.active .faq-answer {
  max-height: 500px;
  opacity: 1;
}

.faq-item.active .faq-icon {
  transform: rotate(180deg);
}

/* Feedback section */

.feedback-contacts {
  @media screen and (min-width: 834px) {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-bottom: 40px;
    background-color: #1995c233;
    gap: 24px;
  }
  @media screen and (min-width: 1440px) {
    margin-bottom: 80px;
    gap: 190px;
  }
}

.feedback-section {
  padding: 16px 0;
  background-color: #1995c233;
  border-radius: 8px;
  @media screen and (min-width: 834px) {
    border-radius: 8px 0 0 8px;
    padding: 32px 0 0;
    background-color: transparent;
    max-width: 341px;
  }
  @media screen and (min-width: 1440px) {
    padding: 80px 0 0;
    max-width: 506px;
  }
}

.feedback-container {
  @media screen and (min-width: 834px) {
    padding: 0;
  }
  @media screen and (min-width: 1440px) {
  }
}

.feedback-title {
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 8px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  padding-left: 16px;
  @media screen and (min-width: 834px) {
    font-size: 16px;
    padding-left: 0;
  }
  @media screen and (min-width: 1440px) {
    font-size: 24px;
    margin-bottom: 28px;
  }
}

.feedback-form {
  width: 295px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4px;
  @media screen and (min-width: 834px) {
    width: 341px;
    gap: 8px;
  }
  @media screen and (min-width: 1440px) {
    width: 506px;
    gap: 16px;
  }
}

.feedback-form input,
.feedback-form textarea {
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 8px;
  font-style: italic;
  text-align: center;
  @media screen and (min-width: 834px) {
    font-size: 12px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 20px;
    padding: 12px;
  }
}
.feedback-form textarea {
  text-align: left;
  @media screen and (min-width: 834px) {
    padding-left: 42px;
    padding-bottom: 48px;
  }
  @media screen and (min-width: 1440px) {
    padding-left: 32px;
    padding-top: 32px;
  }
}

.form-button {
  padding: 16px;
  background-color: var(--accent-color);
  color: var(--second-text-color);
  border: 2px solid transparent;
  border-radius: 80px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 0.01em;
  transition: background-color 0.3s;
  margin-top: 4px;
  @media screen and (min-width: 834px) {
    margin-top: 8px;
    margin-bottom: 197px;
    width: 100%;
    height: 68px;
    letter-spacing: 0.01em;
  }
  @media screen and (min-width: 1440px) {
    font-size: 24px;
    margin-top: 0;
    height: 79px;
    margin-bottom: 219px;
  }
}

.form-button:hover,
.form-button:active,
.form-button:focus {
  color: var(--accent-color);
  background-color: var(--second-text-color);
  border: 2px solid var(--accent-color);
}

.phone-input-wrapper {
  position: relative;
  width: 295px;
  @media screen and (min-width: 834px) {
    width: 341px;
  }
  @media screen and (min-width: 1440px) {
    width: 506px;
  }
}

.phone-prefix {
  position: absolute;
  left: 28px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 8px;
  font-weight: 700;
  font-style: italic;
  color: #1d1d1d80;
  pointer-events: none;
  @media screen and (min-width: 834px) {
    font-size: 12px;
    left: 54px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 20px;
  }
}

.phone-input-wrapper input {
  width: 100%;
  padding: 10px 0;
  font-size: 8px;
  font-style: italic;
  border: none;
  border-radius: 8px;
  @media screen and (min-width: 834px) {
    font-size: 12px;
    padding: 8px 0;
  }
  @media screen and (min-width: 1440px) {
    font-size: 20px;
  }
}
/* Contacts section */

.contacts-section {
  padding: 40px 0 80px;
  @media screen and (min-width: 834px) {
    padding: 32px 0 0 0;
    border-radius: 0 8px 8px 0;
    max-width: 341px;
  }
  @media screen and (min-width: 1440px) {
    padding: 80px 0 0 0;
    max-width: 506px;
  }
}

.contacts-title {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 8px;
  line-height: 1.4;
  letter-spacing: 0.02em;
  padding-left: 16px;
  @media (834px<=width) {
    font-size: 16px;
    margin-bottom: 16px;
  }

  @media (1440px<=width) {
    font-size: 24px;
    margin-bottom: 28px;
    padding-left: 0;
  }
}

.contacts-list {
  @media (1440px<=width) {
    margin-left: 16px;
  }
}

.contacts-item {
  font-size: 8px;
  line-height: 1.3;
  letter-spacing: -0.001em;
  padding-left: 24px;
  display: flex;

  align-items: start;
  gap: 8px;
  margin-bottom: 8px;
  @media (834px<=width) {
    font-size: 12px;
    padding-left: 0;
    margin-bottom: 16px;
  }
  @media (1440px<=width) {
    gap: 16px;
    font-size: 16px;
  }
}

.emails-list li {
  display: flex;
  flex-direction: row;
  gap: 6px;
  line-height: 1.1;
  @media screen and (min-width: 834px) {
    flex-direction: column;
    line-height: 1.2;
  }
  @media screen and (min-width: 1440px) {
    line-height: 1.3;
    gap: 0;
  }
}
.emails-list li:not(:last-child) {
  margin-bottom: 6px;
  @media screen and (min-width: 1440px) {
    margin-bottom: 9px;
  }
}

.contacts-img {
  object-fit: cover;
  width: 16px;
  height: 16px;
  margin-top: -2px;
  @media (834px<=width) {
    width: 24px;
    height: 24px;
  }
  @media (1440px<=width) {
    width: 33px;
    height: 33px;
  }
}

.contacts-container {
  align-items: center;
  @media screen and (min-width: 834px) {
    padding: 0;
  }
}

.contacts-map {
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 834px) {
    padding-top: 8px;
    justify-content: start;
    margin-bottom: 32px;
  }
  @media screen and (min-width: 1440px) {
    justify-content: center;
    padding-top: 0;
    margin-left: 32px;
  }
}

/* Footer section */

.footer {
  background-color: var(--footer-bg);
  border-radius: 8px 8px 0 0;
  padding: 16px 0;
  padding-bottom: 9px;
  margin-top: auto;
  text-align: center;
  @media screen and (min-width: 834px) {
    padding: 32px 0;
    padding-bottom: 16px;
  }
}

.footer-container {
  padding: 0 24px;
  @media screen and (min-width: 834px) {
    padding: 0 32px;
  }
}

.footer-block {
  @media screen and (min-width: 834px) {
    display: flex;
    justify-content: space-between;
  }
  @media screen and (min-width: 1440px) {
    padding-bottom: 18px;
  }
}

.footer-info {
  display: flex;
  gap: 16px;
  @media screen and (min-width: 834px) {
    gap: 22px;
  }
  @media screen and (min-width: 1440px) {
    gap: 98px;
  }
}

.footer-logo {
  @media screen and (min-width: 834px) {
    margin-top: 8px;
  }
  @media screen and (min-width: 1440px) {
    margin-top: -12px;
  }
}

.footer-list {
  color: var(--second-text-color);
  font-size: 8px;
  font-weight: 700;
  width: 70px;
  text-align: left;
  @media screen and (min-width: 1440px) {
    font-size: 16px;
    width: 84px;
  }
}

.footer-list li {
  margin-bottom: 4px;
  @media screen and (min-width: 834px) {
    margin-bottom: 8px;
  }
  @media screen and (min-width: 1440px) {
    margin-bottom: 16px;
  }
}
.socials-column {
  width: 70px;
  display: flex;
  justify-content: space-between;
  @media screen and (min-width: 1440px) {
    gap: 22px;
    justify-content: center;
    margin-left: 74px;
  }
}
.list-socials {
  display: flex;
  flex-direction: column;
  gap: 16px;
  @media screen and (min-width: 834px) {
    flex-direction: row;
    gap: 14px;
    margin-left: 12px;
    height: 24px;
  }
  @media screen and (min-width: 1440px) {
    margin-left: 0;
    gap: 22px;
  }
}

.list-socials a {
  width: 16px;
  height: 16px;
  @media screen and (min-width: 834px) {
    width: 24px;
    height: 24px;
  }
  @media screen and (min-width: 1440px) {
    width: 32px;
    height: 32px;
  }
}

.footer-img {
  @media screen and (min-width: 834px) {
    width: 24px;
    height: 24px;
  }
  @media screen and (min-width: 1440px) {
    width: 32px;
    height: 32px;
  }
}

.svg-footer {
  fill: var(--second-text-color);
}

.footer-button {
  color: var(--accent-color);
  background-color: var(--second-text-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3;

  padding: 16px 63px;
  border-radius: 80px;
  border: 2px solid transparent;
  margin-bottom: 24px;
  margin-top: 16px;
  @media screen and (min-width: 834px) {
    padding: 24px 37px;
    margin-top: 0;
  }
  @media screen and (min-width: 1440px) {
    font-size: 24px;
    padding: 5px 60px;
    margin-bottom: 64px;
  }
}

.footer-button:hover,
.footer-button:active,
.footer-button:focus {
  color: var(--second-text-color);
  background-color: var(--accent-color);
  border: 2px solid var(--second-text-color);
}

.copyright {
  margin: 0 auto;
  color: var(--second-text-color);
  font-size: 6px;
  @media screen and (min-width: 1440px) {
    font-size: 8px;
  }
}

/* modal section */

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal.hidden {
  display: none;
}

.message-modal {
  z-index: 1000;
}

.modal-content {
  position: relative;
  background: var(--body-bg);
  padding: 24px;
  max-width: 90%;
  max-height: 90vh;
  overflow-y: auto;
  border-radius: 10px;
}
.close-modal {
  color: var(--accent-color);
  position: absolute;
  top: 16px;
  right: 12px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  @media screen and (min-width: 1440px) {
    font-size: 24px;
  }
}

.menuModal {
  display: none;
  position: fixed;
  z-index: 25;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(20, 26, 25, 1);
}

.modal-menu-content {
  position: relative;
  background: var(--body-bg);
  padding: 48px;
  border-radius: 8px;
  max-width: 90%;
}
.menu-nav-modal {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.menu-item-modal {
  font-size: 16px;
  color: var(--accent-color);
  width: 209px;
}

.menu-item-modal:hover,
.menu-item-modal:active,
.menu-item-modal:focus {
  font-weight: 600;
}

html.noscroll,
body.noscroll {
  overflow: hidden;
}

.popup-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 5;

  overflow-y: auto;
}

.advice-window {
  position: relative;
  background: var(--body-bg);
  padding: 16px 16px 32px;
  border-radius: 8px;
  max-width: 90%;
  @media (min-width: 834px) {
    padding: 32px;
    width: 572px;
    height: 378px;
  }
  @media (min-width: 1440px) {
    padding: 80px 261px;
    width: 1028px;
    height: 426px;
  }
}
.advice-close {
  color: var(--accent-color);
  position: absolute;
  top: 18px;
  right: 18px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  @media (min-width: 834px) {
    font-size: 32px;
    top: 32px;
    right: 32px;
  }
  @media (min-width: 834px) {
    top: 16px;
    right: 16px;
  }
}

.advice-title {
  color: var(--accent-color);
  margin-bottom: 16px;
  font-weight: 600;
  font-size: 8px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  margin-top: 24px;
  @media screen and (min-width: 834px) {
    font-size: 24px;
    margin-top: 50px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 24px;
    margin-top: 0;
  }
}

.advice-form {
  width: 295px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4px;
  @media screen and (min-width: 834px) {
    width: 508px;
    gap: 16px;
  }
  @media screen and (min-width: 1440px) {
    width: 506px;
    gap: 16px;
  }
}

.advice-form input {
  background-color: #1995c233;
  color: #1d1d1d80;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 8px;
  font-style: italic;
  text-align: center;
  @media screen and (min-width: 834px) {
    font-size: 20px;
    padding: 12px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 20px;
    padding: 12px;
  }
}
.advice-phone-wrapper {
  position: relative;
  width: 295px;
  @media screen and (min-width: 834px) {
    width: 508px;
  }
  @media screen and (min-width: 1440px) {
    width: 506px;
  }
}

.advice-phone-wrapper input {
  color: #1d1d1d80;
  width: 100%;
  padding: 10px 0;
  font-size: 8px;
  font-style: italic;
  border: none;
  border-radius: 8px;
  @media screen and (min-width: 834px) {
    font-size: 20px;
    padding: 12px 0;
  }
  @media screen and (min-width: 1440px) {
    font-size: 20px;
  }
}

.advice-phone-wrapper .phone-prefix {
  @media screen and (min-width: 834px) {
    font-size: 20px;
  }
}

.advice-btn {
  color: var(--second-text-color);
  background-color: var(--accent-color);
  font-size: 16px;
  font-weight: 600;
  padding: 16px 44px;
  border-radius: 80px;
  border: 2px solid transparent;
  margin-top: 16px;
  @media screen and (min-width: 834px) {
    font-size: 24px;
    padding: 24px 37px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 24px;
    padding: 25px 60px;
    margin-bottom: 82px;
  }
}

.advice-btn:hover,
.advice-btn:active,
.advice-btn:focus {
  color: var(--accent-color);
  background-color: var(--second-text-color);
  border: 2px solid var(--accent-color);
}

#services-modal1 .modal-content,
#services-modal2 .modal-content,
#services-modal3 .modal-content,
#services-modal4 .modal-content,
#services-modal5 .modal-content,
#services-modal6 .modal-content {
  padding: 24px;
  @media screen and (min-width: 1440px) {
    padding: 32px;
    max-width: 1028px;
  }
}

.modal-services-title {
  color: var(--accent-color);
  margin-bottom: 8px;
  font-weight: 700;
  @media screen and (min-width: 1440px) {
    font-size: 20px;
  }
}

.modal-services-text {
  margin-top: 8px;
  @media screen and (min-width: 1440px) {
    font-size: 20px;
  }
}

.services-accent {
  color: var(--accent-color);
  font-weight: 700;
  margin-right: 4px;
  @media screen and (min-width: 1440px) {
    font-size: 20px;
  }
}

.modal-services-list {
  list-style-type: disc; /* кружечки */
  padding-left: 1.5rem;
  @media screen and (min-width: 1440px) {
    font-size: 20px;
  }
}

.modal-services-item {
  margin-top: 8px;
  @media screen and (min-width: 1440px) {
    font-size: 20px;
  }
}

#successModal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--body-bg);
  border-radius: 8px;
  padding: 24px 0;
  text-align: center;
  max-width: 327px;
  width: 90%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  position: relative;
  @media screen and (min-width: 834px) {
    max-width: 572px;
    padding: 80px 0 32px;
  }
  @media screen and (min-width: 1440px) {
    max-width: 1028px;
    padding: 80px 0;
  }
}

.status-text {
  font-size: 24px;
  font-weight: 600;
  color: var(--accent-color);
  max-width: 209px;

  @media screen and (min-width: 834px) {
    max-width: 508px;
    font-size: 36px;
  }
  @media screen and (min-width: 1440px) {
    max-width: 680px;
    font-size: 48px;
  }
}

.close-status {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;

  cursor: pointer;
  color: var(--accent-color);
  font-size: 24px;
  cursor: pointer;
  @media screen and (min-width: 834px) {
    top: 32px;
    right: 32px;
    font-size: 36px;
  }
  @media screen and (min-width: 1440px) {
    top: 16px;
    right: 16px;
  }
}
.message-img {
  width: 155px;
  height: 88px;
  @media screen and (min-width: 834px) {
    width: 332px;
    height: 193px;
  }
}
